@tailwind base;
@tailwind components;
@tailwind utilities;


 
.button-reports 
{
  @apply border border-[#002A78] px-4  py-[2px] bg-white rounded-3xl
}


li.nav{
  color: #002A78 ;
  list-style-type:initial ;
}

.presentTable {
  display:grid;
  grid-template-columns: repeat(14 ,1fr);
}

.dirLtr{
  direction: ltr;
} 
.dirRtl{
  direction: rtl;
} 

/* width */
::-webkit-scrollbar {
  margin-top:3px; 
  width: 7px;
  direction:ltr;
}
::-webkit-scrollbar-button{
  margin: 5px;
}

/* Track */
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(209, 217, 233);
    border-radius: 23px;
    
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #002A78;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#002A78;
   
}

.shadowForDrop{
  box-shadow: -3px 0px 14px 0px rgba(0,0,0,0.1);
}

.white-image {
  filter: grayscale(100%) brightness(1000%);
}













