@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8.55px;
}
::-webkit-scrollbar-button {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 23px;
  background-color: #eff3fb;
  margin-top: 26px;
  margin-bottom: 17px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002a78;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #002a78;
}
.react-datepicker__month-container {
  height: 273px;
  width: 318px;
  border-radius: 10px;
  
}

.react-datepicker__header {
  background-color: white !important;
  width: 319px;
  height: 48px;
  padding: 0px !important;
}

.react-datepicker__day-names {
  width: 318px;
}

.react-datepicker__month {
  width: 318px;
  height: 220px;
}

.react-datepicker__day {
  height: 40px;
  width: 40px !important;
  border-radius: 4px;
}
