@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8.55px;
}
::-webkit-scrollbar-button {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 23px;
  background-color: #eff3fb;
  margin-top: 26px;
  margin-bottom: 17px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #002a78;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #002a78;
}


